.container{
    display: flex;
    justify-content: space-around;
}
h1{
    font-size: 30px;
}

.todo-item{
    height: 80vh;
    box-shadow: 0 0 0 10px;
    width: 40%
}
h3{
    text-align: center;
}

li{
    list-style: square;
}